/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


$navbar-background-active: #142E54;

/* navar: bootstrap overwrites */
.navbar-inverse {
  background-color: #2C4870;
  border-color: #4F688E;

  .navbar-header a.navbar-brand.active {
    color: #fff;
    background-color: $navbar-background-active;
  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: $navbar-background-active;
  }

  .navbar-nav>li>a, .navbar-brand {
    color: #D5DCE8;
  }
}
