@import 'mixins';

/**
 * Main
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;

  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  .footer {
    background-color: #f5f5f5;
    padding: 10px;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}


/**
 * Navbar
 */

$navbar-background-active: #142E54;

/* navar: bootstrap overwrites */
.navbar-inverse {
  background-color: #2C4870;
  border-color: #4F688E;

  .navbar-header a.navbar-brand.active {
    color: #fff;
    background-color: $navbar-background-active;
  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: $navbar-background-active;
  }

  .navbar-nav>li>a, .navbar-brand {
    color: #D5DCE8;
  }
}


/**
 * About
 */

#about {
  .bio, .work {
    font-family: Georgia, "Times New Roman", Times, serif;

    .row {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  .bio {
    font-size: 22px;
    line-height: 1.7em;
  }

  .work {
    font-size: 20px;
    line-height: 1.5em;

    img {
      margin: 10px auto;
    }

    .features span {
      font-weight: bold;
    }

    h4 {
      font-family: Arial;
      color: #999;
    }
  }

  section.work:nth-child(2n+1) {
    background-color: #DDE6F3;
  }

  .avatar {
    display: block;
    margin: 0 auto 2em;

    @include rotate(-5deg);

    @media (min-width: 575px) {
      float: left;
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
