/* CSS adapted from http://joshuasortino.com */

@mixin rotate($value) {
    -webkit-transform: rotate($value);
       -moz-transform: rotate($value);
        -ms-transform: rotate($value);
         -o-transform: rotate($value);
            transform: rotate($value);
}

@mixin background-size($value) {
    -webkit-background-size: $value;
       -moz-background-size: $value;
         -o-background-size: $value;
            background-size: $value;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
       -moz-border-radius: $value;
            border-radius: $value;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value;
}

@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
       -moz-box-shadow: $shadows;
            box-shadow: $shadows;
}

.perso {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;

    margin: 2em auto;
    @media (min-width: 575px) and (max-width: 887px) {
        margin: 4em auto;
    }
    @media (min-width: 888px) {
        margin: 4em auto;
    }

    h1 {
        font-weight: bold;

        font-size: 30px;
        @media (min-width: 575px) and (max-width: 887px) {
            font-size: 45px;
        }
        @media (min-width: 888px) {
            font-size: 50px;
        }
    }

    h2 {
        color: #a39996;
        font-style: italic;
        font-weight: normal;

        font-size: 20px;
        @media (min-width: 575px) and (max-width: 887px) {
            font-size: 22px;
        }
        @media (min-width: 888px) {
            font-size: 24px;
        }
    }

    h3 {
        color: #a39996;
        font-style: italic;
        font-weight: normal;

        font-size: 12px;
        @media (min-width: 888px) {
            font-size: 14px;
        }
    }
}

.resume {
    position: relative;
    width: 100%;

    margin: 1em 0 5em;
    padding: 0;

    text-align: center;

    font-family: Helvetica, Arial, sans-serif;

    @media (max-width: 887px) {
        &:before {
            position: absolute;

            content: "";
            line-height: 0;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            width: 7px;
            margin: 0 auto;

            border: 2px solid #fff;
            background: #758AA8;

            @include box-shadow(-1px 0 0 0 #758AA8);
        }

        &:after {
            display: table;
            clear: both;

            content: "";
            line-height: 0;
        }
    }

    @media (min-width: 888px) {
        height: 5px;

        margin: 10em 0 20em 0;

        background: #758AA8;

        border: 2px solid #fff;
        border-left: none;
        border-right: none;
        border-bottom: none;

        @include box-shadow(0 -1px 0 0 #758AA8);
    }

    .timeline {
        position: relative;
        max-width: 960px;

        margin: 0 auto;

        @media (min-width: 575px) and (max-width: 887px) {
            width: 47px;
            height: 800px;

            & > .year:last-child {
                bottom: -3.2em;
            }
        }
        @media (min-width: 888px) {
            height: 9px;

            & > .year:last-child {
                right: 1.35em;
            }
        }
    }

    .year {
        width: 3.2em;
        height: 3.2em;
        margin: 0 auto;

        color: #5a504e;
        font-size: 14px;
        line-height: 3.25em;
        text-align: center;

        background: #fff scroll;

        @include background-size(485px);

        @include box-shadow(0 0 0 1px #758AA8, 0 0 0 3px #fff, 0 0 0 6px #758AA8, 0 0 0 8px #fff);

        @include border-radius(1.7em);

        @media (min-width: 575px) and (max-width: 887px) {
            position: absolute;
        }
        @media (min-width: 888px) {
            position: absolute;
            top: -1.5em;
        }
    }

    .entry {
        position: relative;

        height: 80px;
        margin: 2em;
        padding: .4em;

        color: #5a504e;
        font-size: 14px;
        vertical-align: middle;

        background-color: #fff;

        @include background-size(485px);

        @include box-sizing(border-box);

        @include box-shadow(0 0 0 1px #758AA8, 0 0 0 3px #fff, 0 0 0 6px #758AA8, 0 0 0 8px #fff);

        @media (min-width: 575px) and (max-width: 887px) {
            position: absolute;
            margin: 0 1em;
            width: 200px;

            &:before {
                position: absolute;
                content: "";

                top: 50%;
                width: 57px;
                height: 7px;

                margin-top: -2px;

                background-color: #758AA8;

                border: 2px solid #f5f5ef;
                border-left: none;
                border-right: none;
            }
        }
        @media (min-width: 888px) {
            position: absolute;
            margin: 0 1em;

            &:before {
                position: absolute;
                content: "";

                left: 50%;

                width: 7px;
                height: 36px;

                margin-left: -2px;

                background-color: #758AA8;

                border: 2px solid #fff;
                border-top: none;
                border-bottom: none;
            }
        }
    }

    .entry h1 {
        margin: 0 auto;
        margin-bottom: 5px;

        clear: both;

        color: #5a504e;
        font-size: 14px;
        font-weight: bold;

        line-height: 1.2em;
        text-align: center;
        vertical-align: middle;
    }

    .github-ribbon {
        background-color: #a00;
        overflow: hidden;
        white-space: nowrap;

        /* top left corner */
        position: absolute;
        left: -20px;
        top: -3px;

        @include rotate(-25deg);

        @include box-shadow(0 0 10px 0 #888);
    }
    .github-ribbon a {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 1px 0;
        padding: 4px 6px;
        text-align: center;
        text-decoration: none;

        /* shadow */
        text-shadow: 0 0 5px #444;
    }

    .tags {
        position: absolute;
        bottom: 7px;
        right: 1px;
    }

    .tags span {
        padding: 4px;
        margin: 2px;

        color: #fff;
        background-color: #B7CDEC;
        font-size: 12px;

        @include border-radius(4px);
    }

    .job {
        @media (min-width: 575px) and (max-width: 887px) {
            left: -260px;

            &:before {
                right: -68px;

                @include box-shadow(-1px -3px 0px -2px #758AA8);
            }
        }
        @media (min-width: 888px) {
            top: -125px;

            &:before {
                bottom: -45px;

                @include box-shadow(3px -1px 0px -2px #758AA8);
            }
        }
    }

    .oss {
        @media (min-width: 575px) and (max-width: 887px) {
            right: -262px;

            &:before {
                left: -68px;

                @include box-shadow(0 -1px 0px 0px #758AA8);
            }
        }
        @media (min-width: 888px) {
            bottom: -119px;

            &:before {
                top: -45px;

                @include box-shadow(1px 0px 0px 0px #758AA8);
            }
        }
    }

    .oss.level2 {
        @media (min-width: 888px) {
            bottom: -219px;

            &:before {
                top: -145px;
                height: 136px;
            }
        }
    }

    .yaccom {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 82%;
        }
        @media (min-width: 888px) {
            left: 5%;
            width: 200px;

            &:before {
                left: 10%;
            }
        }
    }

    .wbxml {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 75%;
        }
        @media (min-width: 888px) {
            left: 15%;
        }
    }

    .newlc {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 59%;
        }
        @media (min-width: 888px) {
            left: 30%;
            width: 200px;

            &:before {
                left: 10%;
            }
        }
    }

    .fotopedia {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 38%;
        }
        @media (min-width: 888px) {
            left: 55%;
            width: 300px;

            &:before {
                left: 10%;
            }
        }
    }

    .fwissr {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 26%;
        }
        @media (min-width: 888px) {
            left: 51%;

            &:before {
                left: 60%;
            }
        }
    }

    .activr {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 13%;
        }
        @media (min-width: 888px) {
            left: 62%;
            bottom: -190px;
        }
    }

    .jeego {
        @media (min-width: 575px) and (max-width: 887px) {
            bottom: 0%;
        }
        @media (min-width: 888px) {
            left: 74%;

            &:before {
                left: 65%;
            }
        }
    }
}
