/* CSS adapted from http://joshuasortino.com */
#timeline .resume {
  position: relative;
  width: 100%;
  margin: 1em 0 2em;
  padding: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif; }
  @media (max-width: 887px) {
    #timeline .resume:before {
      position: absolute;
      content: "";
      line-height: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 7px;
      margin: 0 auto;
      border: 2px solid #fff;
      background: #758AA8;
      -webkit-box-shadow: -1px 0 0 0 #758aa8;
      -moz-box-shadow: -1px 0 0 0 #758aa8;
      box-shadow: -1px 0 0 0 #758aa8; }
    #timeline .resume:after {
      display: table;
      clear: both;
      content: "";
      line-height: 0; } }
  @media (min-width: 888px) {
    #timeline .resume {
      height: 5px;
      margin: 10em 0 20em 0;
      background: #758AA8;
      border: 2px solid #fff;
      border-left: none;
      border-right: none;
      border-bottom: none;
      -webkit-box-shadow: 0 -1px 0 0 #758aa8;
      -moz-box-shadow: 0 -1px 0 0 #758aa8;
      box-shadow: 0 -1px 0 0 #758aa8; } }
  #timeline .resume .timeline {
    position: relative;
    max-width: 960px;
    margin: 0 auto; }
    @media (min-width: 575px) and (max-width: 887px) {
      #timeline .resume .timeline {
        width: 47px;
        height: 800px; } }
    @media (min-width: 888px) {
      #timeline .resume .timeline {
        height: 9px; } }
  #timeline .resume .year {
    width: 3.2em;
    height: 3.2em;
    margin: 0 auto;
    color: #5a504e;
    font-size: 14px;
    line-height: 3.25em;
    text-align: center;
    background: #fff scroll;
    -webkit-background-size: 485px;
    -moz-background-size: 485px;
    -o-background-size: 485px;
    background-size: 485px;
    -webkit-box-shadow: 0 0 0 1px #758aa8, 0 0 0 3px white, 0 0 0 6px #758aa8, 0 0 0 8px white;
    -moz-box-shadow: 0 0 0 1px #758aa8, 0 0 0 3px white, 0 0 0 6px #758aa8, 0 0 0 8px white;
    box-shadow: 0 0 0 1px #758aa8, 0 0 0 3px white, 0 0 0 6px #758aa8, 0 0 0 8px white;
    -webkit-border-radius: 1.7em;
    -moz-border-radius: 1.7em;
    border-radius: 1.7em; }
    @media (min-width: 575px) and (max-width: 887px) {
      #timeline .resume .year {
        position: absolute; }
        #timeline .resume .year.begin {
          bottom: -3.2em; } }
    @media (min-width: 888px) {
      #timeline .resume .year {
        position: absolute;
        top: -1.5em; }
        #timeline .resume .year.begin {
          left: 0; }
        #timeline .resume .year.end {
          right: 0; } }
  #timeline .resume .entry {
    position: relative;
    height: 80px;
    margin: 2em;
    padding: .4em;
    color: #5a504e;
    font-size: 14px;
    vertical-align: middle;
    background-color: #fff;
    -webkit-background-size: 485px;
    -moz-background-size: 485px;
    -o-background-size: 485px;
    background-size: 485px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px #758aa8, 0 0 0 3px white, 0 0 0 6px #758aa8, 0 0 0 8px white;
    -moz-box-shadow: 0 0 0 1px #758aa8, 0 0 0 3px white, 0 0 0 6px #758aa8, 0 0 0 8px white;
    box-shadow: 0 0 0 1px #758aa8, 0 0 0 3px white, 0 0 0 6px #758aa8, 0 0 0 8px white; }
    @media (min-width: 575px) and (max-width: 887px) {
      #timeline .resume .entry {
        position: absolute;
        margin: 0 1em;
        width: 200px; }
        #timeline .resume .entry:before {
          position: absolute;
          content: "";
          top: 50%;
          width: 57px;
          height: 7px;
          margin-top: -2px;
          background-color: #758AA8;
          border: 2px solid #f5f5ef;
          border-left: none;
          border-right: none; } }
    @media (min-width: 888px) {
      #timeline .resume .entry {
        position: absolute;
        margin: 0 1em; }
        #timeline .resume .entry:before {
          position: absolute;
          content: "";
          left: 50%;
          width: 7px;
          height: 36px;
          margin-left: -2px;
          background-color: #758AA8;
          border: 2px solid #fff;
          border-top: none;
          border-bottom: none; } }
  #timeline .resume .entry h1 {
    margin: 0 auto;
    margin-bottom: 5px;
    clear: both;
    color: #5a504e;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle; }
  #timeline .resume .github-ribbon {
    position: absolute;
    left: -20px;
    top: -3px;
    overflow: hidden;
    background-color: #a00;
    white-space: nowrap;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-box-shadow: 0 0 10px 0 #888888;
    -moz-box-shadow: 0 0 10px 0 #888888;
    box-shadow: 0 0 10px 0 #888888; }
  #timeline .resume .github-ribbon a {
    display: block;
    margin: 1px 0;
    padding: 4px 6px;
    border: 1px solid #faa;
    color: #fff;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444; }
  #timeline .resume .tags {
    position: absolute;
    bottom: 7px;
    right: 1px; }
  #timeline .resume .tags span {
    padding: 4px;
    margin: 2px;
    color: #fff;
    background-color: #B7CDEC;
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .job {
      left: -260px; }
      #timeline .resume .job:before {
        right: -68px;
        -webkit-box-shadow: -1px -3px 0px -2px #758aa8;
        -moz-box-shadow: -1px -3px 0px -2px #758aa8;
        box-shadow: -1px -3px 0px -2px #758aa8; } }
  @media (min-width: 888px) {
    #timeline .resume .job {
      top: -125px; }
      #timeline .resume .job:before {
        bottom: -45px;
        -webkit-box-shadow: 3px -1px 0px -2px #758aa8;
        -moz-box-shadow: 3px -1px 0px -2px #758aa8;
        box-shadow: 3px -1px 0px -2px #758aa8; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .oss {
      right: -262px; }
      #timeline .resume .oss:before {
        left: -68px;
        -webkit-box-shadow: 0 -1px 0px 0px #758aa8;
        -moz-box-shadow: 0 -1px 0px 0px #758aa8;
        box-shadow: 0 -1px 0px 0px #758aa8; } }
  @media (min-width: 888px) {
    #timeline .resume .oss {
      bottom: -119px; }
      #timeline .resume .oss:before {
        top: -45px;
        -webkit-box-shadow: 1px 0px 0px 0px #758aa8;
        -moz-box-shadow: 1px 0px 0px 0px #758aa8;
        box-shadow: 1px 0px 0px 0px #758aa8; } }
  @media (min-width: 888px) {
    #timeline .resume .oss.level2 {
      bottom: -219px; }
      #timeline .resume .oss.level2:before {
        top: -145px;
        height: 136px; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .kowa {
      bottom: 86%; } }
  @media (min-width: 888px) {
    #timeline .resume .kowa {
      right: -2%;
      width: 157px; }
      #timeline .resume .kowa:before {
        left: 40%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .assoninja {
      bottom: 82%; } }
  @media (min-width: 888px) {
    #timeline .resume .assoninja {
      left: 75%;
      width: 200px; }
      #timeline .resume .assoninja:before {
        left: 40%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .jeego {
      bottom: 73%; } }
  @media (min-width: 888px) {
    #timeline .resume .jeego {
      left: 74%; }
      #timeline .resume .jeego:before {
        left: 17%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .activr {
      bottom: 60%; } }
  @media (min-width: 888px) {
    #timeline .resume .activr {
      left: 55%;
      width: 172px; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .fwissr {
      bottom: 47%; } }
  @media (min-width: 888px) {
    #timeline .resume .fwissr {
      left: 48%; }
      #timeline .resume .fwissr:before {
        left: 18%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .fotopedia {
      bottom: 40%; } }
  @media (min-width: 888px) {
    #timeline .resume .fotopedia {
      left: 46%;
      width: 200px; }
      #timeline .resume .fotopedia:before {
        left: 10%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .newlc {
      bottom: 20%; } }
  @media (min-width: 888px) {
    #timeline .resume .newlc {
      left: 23%;
      width: 180px; }
      #timeline .resume .newlc:before {
        left: 30%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .wbxml {
      bottom: 13%; } }
  @media (min-width: 888px) {
    #timeline .resume .wbxml {
      left: 10%; } }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .resume .yaccom {
      bottom: 0%; } }
  @media (min-width: 888px) {
    #timeline .resume .yaccom {
      left: 0%;
      width: 180px; }
      #timeline .resume .yaccom:before {
        left: 25%; } }
#timeline .about-button {
  margin-top: 2em;
  margin-bottom: 3em; }
  @media (min-width: 575px) and (max-width: 887px) {
    #timeline .about-button {
      margin-top: 5em; } }
