---
layout: default
---

<div class="container">
    <div class="row">
        <div class="post-header">
          <h2 class='post-title'>{{ page.title }}</h2>
          {% if page.tags.size > 0 %}
            <ul class="post-tags">
              {% for tag in page.tags %}
                <li><a href="/tags/#{{ tag }}-ref">#{{ tag }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          <p class="meta">{{ page.date | date_to_string }}</p>
        </div>

        <div class="post">
        {{ content }}
        </div>
    </div>
</div>
